.App {
  text-align: center;
}
nav ul {
  list-style: none;
}
.delete{
  background-color: #a90b0b;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li{
  display: inline-block;
  padding: 10px;
}
.navbar_wrapper a{
  padding-right: 30px;
}